@{
    Layout = "_Layout.cshtml";
    Page.Title = "Home";
    var customername = Request.Form["customername"];
}

@if(IsPost)
{
    <h1>You Entered @customername</h1>
}

<form action="" method="post" id="EX01">
    <label>Customer Name:</label><br />
    <input id="Text1" type="text" name="customername" /><br />
    <label>Choice your meal items</label><br />
    <input id="Checkbox1" type="checkbox" value="" />
    <label>Steak</label><br />
    <input id="Checkbox1" type="checkbox" />
    <label>Seafood</label><br />
    <input id="Checkbox1" type="checkbox" />
    <label>Vegetables</label><br />
    <input id="Submit1" type="submit" value="Submit" />
    <input id="Reset1" type="reset" value="Reset" />
</form>


