@{
    Page.Title = "Hello";
    Layout = "~/_Layout.cshtml";
}
@section head{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
}
@section pagetitle{
    <h5>Name: Antonio L. Centeno III</h5>
    <h5>Email: tobycenteno@gmail.com</h5>
    <h5>User ID: acenteno1</h5>}
@section footer{
    <p>&copy CPSC1517, Nait Today's date is @DateTime.Today.ToLongDateString().</p> }

