@{
    Page.Title = "WebGrid View";
    Layout = "~/_LayoutMenu.cshtml";
}
@section banner{
    <span style="font-size:xx-large"><strong>Database: Value from WebGrid</strong></span>
}
<div>
    <h3>You passed the value @Request.QueryString["pid"]</h3>
</div>