<!DOCTYPE html>
<html>
<head>
    <title>@Page.anything</title>
    @RenderSection("head", required: true)
</head>
<body>
    @RenderBody()
    @RenderSection("footer", required: true);
</body>
</html>
