@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise02";

    var artistName = Request.QueryString["artist"];
    var partialString = "%" + artistName + "%";

    // if no name was received from the previous page
    if(string.IsNullOrEmpty(artistName))
    {
        Response.Redirect("Exercise02_A.cshtml");
    }
    
    //if a name was received from the previous page
    var db = Database.Open("CHINOOKDB");

    var querycommand = "SELECT ArtistId, Name "
                    + "FROM Artists "
                    + "WHERE Name like @0 "
                    + "ORDER BY Name";

     var queryResults = db.Query(querycommand, partialString);

     var artistList = Request.Form["ArtistList"];

     if (artistList == null)
     {
        artistList = "0";
     }
}

@section pagetitle{
    <span style="font-size:xx-large"><strong>Exercise02: Database Query</strong></span>
}
<div>
    @if (IsPost)
    {
        if (artistList.Equals("0"))
        {
            <div class="alert alert-danger" role="alert">
                Please select an artist.
            </div>
        }
        else
        {
            Response.Redirect("Exercise02_C.cshtml?aid=" + artistList);
        }
    }
    <form action="" method="post" id="EX02">
        <div class="row">
            <div class="col-md-3">
                <label id="forArtistList">Select an Artist:</label><br />
                <select name="ArtistList">
                    <option value="0">select ...</option>
                    @foreach (var item in queryResults)
                    {
                        <option value="@item.ArtistId">@item.Name</option>
                    }
                </select><br /><br />
                <input class="btn btn-primary" id="Submit" type="submit" value="Fetch Album" name="fetchAlbumButton" />
            </div>
        </div>
    </form>
</div>



