@{
    Page.Title = "WebGrid View";
    Layout = "~/_Layout.cshtml";

    var artistId = Request.QueryString["aid"];
    WebGrid gridInstance = null;

    if (string.IsNullOrEmpty(artistId))
    {
        Response.Redirect("Exercise02_B.cshtml");
    }

    var db = Database.Open("CHINOOKDB");
    var artistNameCommand = "SELECT Name "
                            + "FROM Artists "
                            + "WHERE ArtistId = @0";

    var artistName = db.QueryValue(artistNameCommand, artistId);

    var albumListCommand = "SELECT AlbumId, Title, ReleaseYear, ReleaseLabel "
                            + "FROM Albums "
                            + "WHERE ArtistId = @0 "
                            + "ORDER BY Title";

    var albumList = db.Query(albumListCommand, artistId);
}
@section pagetitle{
    <span style="font-size:xx-large"><strong>Exercise02: Database Query</strong></span>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="container">
            <span style="font-size:x-large">
                <strong>
                    Albums of @artistName
                </strong>
            </span>
            @{
                // if there is no result from the query
                if (albumList.Count() == 0)
                {
                    <div class="alert alert-danger" role="alert">
                        No album/s found in the database.
                    </div>
                }
                else //if there are results
                {
                    gridInstance = new WebGrid(albumList, rowsPerPage: 10);

                    gridInstance.GetHtml(
                    tableStyle: "table table-bordered table-striped table-hover",
                    mode: WebGridPagerModes.All,
            firstText: "Start",
            lastText: "End",
            columns: gridInstance.Columns(
                        gridInstance.Column(columnName: "AlbumID", header: "ID"),
                        gridInstance.Column(columnName: "Title", header: "Title"),
                        gridInstance.Column(columnName: "ReleaseYear", header: "Release Year"),
                        gridInstance.Column(columnName: "ReleaseLabel", header: "Release Label")
                    )
                    );
                }
            }
        </div>
    </div>
</body>
</html>