@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise02";

    var artistName = Request.Form["artistName"];
    var fetchButton = Request.Form["fetchButton"]; 
    
}

@section pagetitle{
    <span style="font-size:xx-large"><strong>Exercise02: Database Query</strong></span>
}
<div>
    @if (IsPost)
    {
         // check if no name was entered
         if (string.IsNullOrEmpty(artistName))
         {
                <div class="alert alert-danger" role="alert">
                    Please enter an artist name.
                </div>
         }
         else //if name was entered
         {
            var partialString = "%" + artistName + "%";

            var db = Database.Open("CHINOOKDB");

            var querycommand = "SELECT ArtistId "
                    + "FROM Artists "
                    + "WHERE Name like @0";
            var queryresults = db.Query(querycommand, partialString);

            // if there is no result from the query
            if (queryresults.Count() == 0)
            {
                <div class="alert alert-danger" role="alert">
                    No artist/s found in the database.
                </div>
            }
            else // if there is a result from the query
            {
                Response.Redirect("Exercise02_B.cshtml?artist=" + artistName);
            }
         }
    }
    <form action="" method="post" id="EX02">
        <div class="row">
            <div class="col-md-3">
                <p>Artist Name:</p>
                <input id="ArtistName" type="text" name="artistName" /><br /><br />
                <input class="btn btn-primary" id="Submit" type="submit" value="Fetch Artist" name="fetchButton" />
            </div>
        </div>
    </form>
</div>



